
.nav-banner{
    
    background-color: brown;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
     
}

.banner{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: center;
    align-items: center;}

.btn{
    border-radius: 0.5rem;
    background: #E55473;
    color: #FFF;
    border: 0;
    font-size:20px;}
    
.main-text{
    padding-left: 500px;
    }

.parent-pic{
display: flex;
justify-content: space-around;


    }

   .pic1{
    border-radius: 18.75rem 18.75rem 0rem 0rem;
    background: rgba(167, 33, 98, 0.15);
    
   }     
   .pic2{
    border-radius: 18.75rem 18.75rem 0rem 0rem;
    background: rgba(5, 151, 160, 0.15);
 ;
   }
    .pic3{
        border-radius: 18.75rem 18.75rem 0rem 0rem;
        background: rgba(71, 125, 17, 0.15);  
    }

.offer{
    align-items: center;
    display: flex;
    border-radius: 0.5rem;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 0;
}    
.text{
    text-align: center;
    }

.social{
    text-justify: center;
}
.img-tag{
    display: flex;
    gap: 5px;
}
.last-banner{
 text-align: center;
 padding-top: 50px;
}
.sub-btn{
padding-top:20px ;
justify-content: center;
}
.last-banner{
    background-image: url(../Rectangle\ 9.png);
    margin-top:40px ;
    width: 120rem;
    height: 304.1875rem;
    background-repeat: no-repeat;
    padding-right: 200px;
    }
    .btn2{
    border-radius: 0.5rem;
    background: #E55473;
    color: #FFF;
    border: 0;
    font-size:20px;}
    
