
.banner{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: center;
    align-items: center;}

.btn{
    border-radius: 0.5rem;
    background: #E55473;
    color: #FFF;
    border: 0;
    font-size:20px;}
    
.main-text{
    padding-left: 500px;
    }

    .parent-pic{
display: flex;
justify-content: space-around;}

   .pic1{
    border-radius: 18.75rem 18.75rem 0rem 0rem;
    background: rgba(167, 33, 98, 0.15);
   }     
   .pic2{
    border-radius: 18.75rem 18.75rem 0rem 0rem;
    background: rgba(5, 151, 160, 0.15);
   }
    .pic3{
        border-radius: 18.75rem 18.75rem 0rem 0rem;
        background: rgba(71, 125, 17, 0.15);  
    }
